<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <title>HARISH | Kids Math Tables</title>
   </head>
   <body>
      <div class="container">
         <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/img/pic0.png" alt="">
            <h2>Hai Kids This is Shaanavi</h2>
            <p class="lead">Please Practice math tables with me, All the best</p>
         </div>
         <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
               <h4 class="mb-3">Please select Table which you want to practice</h4>
               {% if show_hidden == True %}
               <div class="alert alert-success" role="alert">{{ prediction_text }}</div>
               {% endif %}
               <form action="{{ url_for('predict')}}"method="post" class="needs-validation" >

                  <div class="row">

                     <div class="col-md-6 mb-3">
                        <label for="Select Table">Select Table</label>
                        <select id="Select Table" name="Select Table" class="form-control" required>
                           <option value="" selected></option>
                           <option value="one">one</option>
                           <option value="two">two</option>
                           <option value="three">three</option>
                           <option value="four">four</option>
                        </select>
                     </div>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Predict</button>
            </div>
            <div class="col-md-2">
            </div>
            </form>
         </div>
         <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2020-2021 Laya Nandana</p>
            <ul class="list-inline">
               <li class="list-inline-item"><a href="#">Privacy</a></li>
               <li class="list-inline-item"><a href="#">Terms</a></li>
               <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
         </footer>
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   </body>
</html>